@use "base/variables" as v;
@use "base/mixins" as m;

.formulario {
  margin-top: 5rem;
  .campo {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    label {
      flex: 0 0 10rem;
    }

    input {
      flex: 1;
      padding: 1rem;
      border: none;
      background-color: lighten($color: v.$gris, $amount: 40);
    }
  }
}

.boton-error {
  padding: 1rem;
  border: none;
  background-color: v.$azul;
  color: v.$blanco;
  border-radius: 1rem;
}

.justify-center {
  display: flex;
  justify-content: center;
}
