@use "base/variables" as v;
@use "base/mixins" as m;

.no-proyectos {
  a {
    color: v.$indigo;
  }
}

.listado-proyectos {
  list-style: none;
  padding: 0;
  margin-top: 3rem;
  @include m.grid(1, 2rem);

  @include m.tablet {
    @include m.grid(2, 2rem);
  }

  @include m.desktop {
    @include m.grid(4, 2rem);
  }

  .proyecto {
    background-color: lighten($color: v.$indigo, $amount: 5%);
    min-height: 12rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
    line-height: 2;

    &:hover {
      background-color: darken($color: v.$indigo, $amount: 5%);
    }

    a {
      color: v.$blanco;
      text-align: center;
    }
  }
}
